<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>MinneHack 2018 Submission</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
    rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
    rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="stylesheets/creative.css" rel="stylesheet">
  <link href="stylesheets/bar_style.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">MinneHack 2018</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">Update</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Recovery Time</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#risk_ass">Risk Assessment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Plan Practice</a>
          </li>
        </ul>
      </div>
    </div>
    </div>
  </nav>

  <!-- WELCOME  -->
  <header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h1 class="text-uppercase">
            <strong>MinneHack Project</strong>
          </h1>
          <hr>
        </div>
        <div class="col-lg-8 mx-auto">
          <p class="text-faded mb-5">Welcome back, Tom Brady. </p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Update Player Data</a>
        </div>
      </div>
    </div>
  </header>

  <!-- FORM PART -->
  <section class="bg-primary" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading text-white">Enter your Information</h2>
          <hr class="light my-4">

          <div class="text-faded mb-4">
            <form method="get">
              <!-- TYPE OF EXPOSURE -->
              <h5>Where did the Injury Happen?</h3>
                <label for="competition">Competition:</label>
                <input type="radio" id="competition" name="exposure_choice" value="">

                <label for="practice">Practice:</label>
                <input type="radio" id="practice" name="exposure_choice" value="out">
                <!-- END TYPE OF EXPOSURE  -->

                <!-- YEAR IN SCHOOL -->
                <h5>What is your Year in School?</h3>

                  <label for="school_year">Freshman:</label>
                  <input type="radio" id="freshman" name="school_choice" value="">

                  <label for="school_year">Sophomore:</label>
                  <input type="radio" id="sophomore" name="school_choice" value="">

                  <label for="school_year">Junior:</label>
                  <input type="radio" id="junior" name="school_choice" value="">

                  <label for="school_year">Senior:</label>
                  <input type="radio" id="senior" name="school_choice" value="">
                  <!-- END YEAR IN SCHOOL -->

                  <!-- AGE -->
                  <h5>What is your Age?</h5>
                  <input type="text" id="userinput" name="input" placeholder="Enter Age Here" required>
                  <!-- END AGE -->


                  <!-- HEIGHT -->
                  <h5>What is your Height (inches)?</h5>
                  <input type="text" id="userinput" name="input" placeholder="Enter Height Here" required>
                  <!-- END HEIGHT -->


          </div>

          <!-- select box -->
          <!-- <select name="age">
            <option value="Great">3</option>
            <option value="Okay">2</option>
            <option value="Bad">1</option>
          </select> -->


          <p>Any other Feedback?</p>

          <textarea name="name" rows="8" cols="80"></textarea>


          <input type="submit" name="" value="Submit Feedback">


          </form>

          <p class="text-faded mb-4">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates
            and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
          <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
        </div>
      </div>
    </div>
  </section>

  <section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">At Your Service</h2>
          <hr class="my-4">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i>
            <h3 class="mb-3">Sturdy Templates</h3>
            <p class="text-muted mb-0">Our templates are updated regularly so they don't break.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fa fa-4x fa-paper-plane text-primary mb-3 sr-icons"></i>
            <h3 class="mb-3">Ready to Ship</h3>
            <p class="text-muted mb-0">You can use this theme as is, or you can make changes!</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fa fa-4x fa-newspaper-o text-primary mb-3 sr-icons"></i>
            <h3 class="mb-3">Up to Date</h3>
            <p class="text-muted mb-0">We update dependencies to keep things fresh.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
            <h3 class="mb-3">Made with Love</h3>
            <p class="text-muted mb-0">You have to make your websites with love these days!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Risk Assessment Here -->
  <!-- Risk Assessment -->
  <section class="bg-primary" id="risk_ass">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">

          <h2 class="section-heading text-white">Risk Assessment!</h2>
          <hr class="light my-4">
          <p class="text-faded mb-4">Is it okay for me to play?</p>
          <!-- On click here bring us to some risk ass value page ?  -->
          <a class="btn btn-light btn-xl js-scroll-trigger" href="#risk_ass" id="rsk_ass_btn">Find out now!</a>

          <hr class="light my-4">
          <p class="text-faded mb-4" id="user_risk_as"></p>
          <div id="myProgress">
            <div id="myBar"> </div>
          </div>


        </div>
      </div>
    </div>
  </section>

  <section class="p-0" id="portfolio">
    <div class="container-fluid p-0">
      <div class="row no-gutters popup-gallery">
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="img/portfolio/fullsize/1.jpg">
            <img class="img-fluid" src="img/portfolio/thumbnails/1.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Category
                </div>
                <div class="project-name">
                  Project Name
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="img/portfolio/fullsize/2.jpg">
            <img class="img-fluid" src="img/portfolio/thumbnails/2.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Category
                </div>
                <div class="project-name">
                  Project Name
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="img/portfolio/fullsize/3.jpg">
            <img class="img-fluid" src="img/portfolio/thumbnails/3.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Category
                </div>
                <div class="project-name">
                  Project Name
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="img/portfolio/fullsize/4.jpg">
            <img class="img-fluid" src="img/portfolio/thumbnails/4.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Category
                </div>
                <div class="project-name">
                  Project Name
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="img/portfolio/fullsize/5.jpg">
            <img class="img-fluid" src="img/portfolio/thumbnails/5.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Category
                </div>
                <div class="project-name">
                  Project Name
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="img/portfolio/fullsize/6.jpg">
            <img class="img-fluid" src="img/portfolio/thumbnails/6.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Category
                </div>
                <div class="project-name">
                  Project Name
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-dark text-white">
    <div class="container text-center">
      <h2 class="mb-4">Free Download at Start Bootstrap!</h2>
      <a class="btn btn-light btn-xl sr-button" href="http://startbootstrap.com/template-overviews/creative/">Download Now!</a>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading">Plan Practice</h2>
          <hr class="my-4"> 
          <p class="mb-5">We assess your practice plans to make sure you're at low risk, at all times. Green is go, red means bad.</p>
        </div>
      </div>
      {{!-- <div class="row">
        <div class="col-lg-4 ml-auto text-center">
          <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
          <p>123-456-6789</p>
        </div>
        <div class="col-lg-4 mr-auto text-center">
          <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
          <p>
            <a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a>
          </p>
        </div>
      </div> --}}
    </div>
    <div id='calendar'></div>

  </section>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
  <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="javascripts/creative.js"></script>
  <script src='javascripts/risk_ass_btn.js'></script>

  <link href='vendor/fullcalendar/dist/fullcalendar.css' rel='stylesheet' />
  <link href='vendor/fullcalendar/dist/fullcalendar.print.min.css' rel='stylesheet' media='print' />
  <script src='vendor/moment/moment.js'></script>
  <script src='vendor/jquery/jquery.min.js'></script>
  <script src='vendor/fullcalendar/dist/fullcalendar.min.js'></script>
  <script>
    var risk = 0.6;
    $(document).ready(function () {


      $('#calendar').fullCalendar({
        eventClick: function (calEvent, jsEvent, view) {
          var r = confirm("Delete " + calEvent.title);
          if (r === true) {
            $('#calendar').fullCalendar('removeEvents', calEvent._id);
          }
        },
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,agendaWeek,agendaDay'
        },
        selectable: true,
        selectHelper: true,
        select: function (start, end) {
          var title = prompt('Event Title:');
          console.log($('#calendar').fullCalendar('clientEvents'));

          var eventData;
          if (title) {
            eventData = {
              title: title,
              start: start,
              end: end
            };
            $('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
          }
          $('#calendar').fullCalendar('unselect');
        },
        navLinks: true, // can click day/week names to navigate views
        editable: true,
        eventLimit: true, // allow "more" link when too many events
        events: [
          {
            title: 'Gophers v. Huskies',
            start: '2018-01-17',
            constraint: 'availableForMeeting', // defined below
            backgroundColor: '',
            risk: '0.6'
          },
          {
            title: 'Intensive Training',
            start: '2018-01-07',
            end: '2018-01-09',
            constraint: 'availableForMeeting', // defined below
            backgroundColor: '',
            risk: '0.6'

          },
          {
            id: 999,
            title: 'Weight Training',
            start: '2018-01-09T16:00:00',
            constraint: 'availableForMeeting', // defined below
            backgroundColor: '',
            risk: '0.6'

          },
          {
            id: 999,
            title: 'Weight Training',
            start: '2018-01-16T16:00:00',
            constraint: 'availableForMeeting', // defined below
            backgroundColor: '',
            risk: '0.6'

          },
          {
            title: 'Special Training Camp',
            start: '2018-01-22',
            end: '2018-01-26',
            constraint: 'availableForMeeting', // defined below
            backgroundColor: '',
            risk: '0.6'

          },
          {
            title: 'Football Practice',
            start: '2018-01-12T10:30:00',
            end: '2018-01-12T12:30:00',
            constraint: 'availableForMeeting', // defined below
            backgroundColor: '',
            risk: '0.6'

          },
          {
            title: 'Running',
            start: '2018-01-11T12:00:00',
            constraint: 'availableForMeeting', // defined below
            backgroundColor: '',
            risk: '0.6'


          },
          {
            title: 'Running',
            start: '2018-01-12T14:30:00',
            constraint: 'availableForMeeting', // defined below
            backgroundColor: '',
            risk: '0.6'


          },
          {
            title: 'Yoga',
            start: '2018-01-12T17:30:00',
            constraint: 'availableForMeeting', // defined below
            backgroundColor: '',
            risk: '0.6'



          },
          {
            title: 'Football Practice',
            start: '2018-01-12T20:00:00',
            constraint: 'availableForMeeting', // defined below
            backgroundColor: '',
            risk: '0.6'


          },
          // red areas where no events can be dropped
          {
            id: 'availableForMeeting',
            start: '2017-10-24',
            end: '2018-01-28',
            overlap: false,
            rendering: 'background',
            color: 'grey'
          },
          {
            title: 'Weight Training',
            start: '2018-01-13T07:00:00',
            constraint: 'availableForMeeting', // defined below
          },
          {
            title: 'Practice',
            start: '2018-01-30',
            color: 'lime'
          },
          {
            title: 'Practice',
            start: '2018-02-01',
            color: 'lime'
          },
          {
            title: 'Practice',
            start: '2018-02-02',
            color: 'yellow'
          },
          {
            title: 'Practice',
            start: '2018-02-03',
            color: 'orange'
          },
          {
            title: 'Super Bowl',
            start: '2018-02-04',
            color: 'red'

          }
        ]
      });

    });

  </script>
  <style>
    body {
      font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
      font-size: 14px;
    }

    #calendar {
      max-width: 900px;
      margin: 0 auto;
    }
  </style>
</body>

</html>