#myProgress {
    width: 100%;
    background-color: grey;
}
/* #myBar {
    width: 1%;
    height: 30px;
    background-color: green; */

#myBar {
    width: 0%;
    height: 30px;
    background-color: #ffcb11; /*#4CAF50;*/
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
}
